/* 2016-5-4 */
@charset 'utf-8';
body {font-family: "Microsoft YaHei",Arial,Helvetica;font-size: 14px;line-height: 1.42857143;color: #666666;background-color: #F6F6F6;position: relative;}
button,input,select,textarea {font-family: inherit;font-size: inherit;line-height: inherit}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
a {color: #585858;text-decoration: none}
a:focus,a:hover {color: #009fe8;text-decoration: none}
img {vertical-align: middle;border: none;}
*{box-sizing: content-box;}
ul,li{list-style-type: none;margin:0;padding:0;}
.clearfix{clear: both;}
.fl{float: left;}s
.fr{float: right;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}

/*top*/
.whh_head{background: #125582;}
.whh_wraper{width: 1000px;margin:0 auto;padding:0;position: relative;}
.whh_logo{display: inline-block;margin:20px 0;}

.whh_content{background: #f8fdff;margin:20px auto;padding:30px 30px 50px;}
.whh_h2{font-weight: normal;font-size: 16px;overflow: hidden;padding-bottom: 8px;border-bottom: 1px solid #dddddd;}
.whh_h2 i.whh_line{display: inline-block;width: 4px;background: #59afe4;height: 25px;margin-right: 5px;}
.whh_table{margin-top:30px;}
.whh_table td{padding-bottom: 20px;}
.whh_table .whh_right{text-align: right;padding-right: 15px;}
.whh_input{border: 1px solid #a7b6c4;border-radius: 3px;height: 30px;padding-left: 8px;width: 200px;line-height: 30px;}
.whh_input2{border: 1px solid #a7b6c4;border-radius: 3px;height: 30px;padding-left: 8px;width: 500px;line-height: 30px;}
.whh_table span.xing{color: #e14c4d;display: inline-block;margin-right: 3px;}
.whh_input:focus{border: 1px solid #59afe4;}
a.whh_btn,input.whh_btn{display: inline-block;background: #69b946;text-align: center; border-radius: 3px;color: #fff;border: none;cursor: pointer;}
a:hover.whh_btn,input:hover.whh_btn{color: #fff;background: #51c51e;}

a.whh_btn_big,input.whh_btn_big{padding:8px 30px;}
a.whh_btn_big_blue,input.whh_btn_big_blue{color: #fff;background: #1397cc;}
a:hover.whh_btn_big_blue,input:hover.whh_btn_big_blue{background: #0aa7e6;}
a.whh_btn_big_or,input.whh_btn_big_or{background: #ff7d01;}
a:hover.whh_btn_big_or,input:hover.whh_btn_big_or{background: #f88517;}

.whh_login{width:100%;height:100%;overflow: hidden;}
.whh_login img{width:100%;position: relative;height: 100%;}
.whh_login .whh_wr{position: absolute;left:50%;top:50%;width: 540px;height: 260px;margin-left: -270px;margin-top:-150px;background:url('img/xitong_bg.png') no-repeat left top;}
.whh_login .whh_wr .whh_wr_dl{margin-top:80px;color: #fff;}
.whh_login .whh_wr .whh_wr_dl a.whh_btn_big{background: #4b9826;}
.whh_login .whh_wr .whh_wr_dl a.whh_color{background: #cbd8e2;color: #666;margin-left: 32px;}
.whh_nav{position: absolute;bottom: 0px;right: 0;z-index: 1000;}
.whh_nav li{float: left;margin:0 15px;padding:0 0 10px;border-bottom: 3px solid #125582;}
.whh_nav li.cur,.whh_nav li:hover{border-bottom: 3px solid #ff9933;}
.whh_nav a{color: #fff;}

.whh_content_border{border-top:3px solid #125582;padding:0px;}
.whh_h2_bg{font-weight: normal;background: #f3f3f5;}
.whh_h2_bg span{display: inline-block;background: #f8fdff;padding:10px 20px;}
.whh_tab_bor{padding:20px;}

.whh_table_el td{display: inline-block;width: 25%;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
.whh_tab1 th{background: #ffe2c7;padding:12px 0;}
.whh_tab1 td{text-align: center;padding:12px 0;border-bottom: 1px dashed #d9d9d9;}
.whh_tab_show{margin-top:30px;}
.whh_tab_show td{background: #e0eff5;}
/* 椤电css */
.od_pages{margin: 0 auto;text-align: center;overflow: hidden;}
.travels_diary_page{font-size:12px;overflow: hidden;margin:24px auto 0;padding:0;}
.travels_diary_page span.prev_page{position:relative;width:27px;height:25px;border:1px solid #e9e9e9;margin-right:8px;cursor:pointer;}
.travels_diary_page span.prev_page em{position:absolute;top:50%;left:50%;margin-top:-6px;margin-left:-3px;width:0px;height:0px;border-right:6px solid #ddd;border-left:none;border-top:6px solid transparent;border-bottom:6px solid transparent;}
.travels_diary_page a,.travels_diary_page span,.travels_diary_page input{display:inline-block;vertical-align:middle;}
.marB_none{margin-bottom:0;}
.travels_diary_page a{width:25px;height:25px;margin-right:8px;font-size:12px;text-align:center;line-height: 25px;color:#009fe8;border:1px solid #e9e9e9;}
.travels_diary_page a:hover,.travels_diary_page a.curr{color:#fff;background:#009fe8;border:1px solid #009fe8;}
.travels_diary_page span{height:28px;}
.travels_diary_page span.ellipsis{line-height:20px;color:#6f6f6f;letter-spacing: 6px;}
.travels_diary_page span.reach_desc{width:31px;height:25px;line-height:28px;text-align:center;color:#6f6f6f;}
.travels_diary_page span.next_page{width:52px;height:25px;font-size:12px;line-height:25px;text-align:center;color:#6f6f6f;border:1px solid #e9e9e9;cursor:pointer;}
.travels_diary_page input{width:30px;height:25px;line-height:25px\9;padding:0;color:#6f6f6f;text-align:center;border:1px solid #e9e9e9;}
.travels_diary_page span.confirm_btn{width:35px;height:25px;margin-left:8px;line-height:25px;text-align:center;font-size:12px;color:#333;border:1px solid #e9e9e9;cursor:pointer;}
/* 椤电css */

.whh_tab_add{display: none;}
.whh_label{margin-right: 10px;vertical-align: middle;}
.whh_sel{width: 208px;height: 30px;border-radius: 3px;border:1px solid #a7b6c4;}
.whh_flie_div{position: relative;overflow: hidden;height: 30px;}
.whh_file{z-index: 100;cursor:pointer;filter: alpha(opacity=0);opacity: 0;position: relative;}
.whh_flie_div span{display: inline-block;line-height:30px;text-align:center;width:100px;background: #d6d6d6;border-radius: 3px;position: absolute;left: 0;top: 0;z-index: 0;}

label.error{color: red;margin-left: 10px;}

.zyh_top_box{ width:100%; overflow:hidden; background-color:#0f486e;}
.zyh_top{ width:1000px; overflow:hidden; margin:0 auto; color:#e5e5e5;}
.zyh_top p{ float:right; line-height:25px; font-size:12px;}
.zyh_top span{ margin-right:10px;}
.zyh_top a{ color:#e5e5e5;}


.whh_ul{width: 100%;margin:0 auto;padding:0;}
.whh_ul li{width: 25%;float: left;padding-bottom: 20px;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}

 /*员工详情信息 icon*/
 .zyh_icon{position:relative;}
 .zyh_icon_1{position:absolute; right:28px; top:5px;}
 .zyh_zhushi{ width:100%; background-color:#f1f1f1; margin-top:20px;overflow:hidden;padding:10px;box-sizing:border-box;}
 .zyh_zhushi h4{ font-size:16px;margin-left:10px;line-height:30px;}
 .zyh_zhushi p{ margin-left:10px; line-height:30px; margin-right:5px; margin-bottom:10px; }
 .zyh_zhushi img{ margin:0 5px;}
 
 /*上一步按钮*/
 .zyh_syb{
float: right;
width: 65px;
height: 25px;
font-size: 12px;
margin-top: 10px;
margin-right: 19px;
background: rgb(19, 151, 204) none repeat scroll 0% 0%;
border: medium none;
color: rgb(255, 255, 255);
border-radius: 3px;}
.zyh_chz{
font-size:14px;
cursor:pointer;
width: 88px;
line-height: 35px;
background-color: rgb(122, 122, 122);
border: medium none;
color: rgb(255, 255, 255);
border-radius: 3px;
margin-left: 20px;}

.animenu__nav > li > a.acur{ color:#FF7D01;}

/*评价弹窗*/
.zyh_tan_box{ width:100%; position:fixed; left:0; top:0; background-color:rgba(0,0,0,0.5); height:100%; z-index:9999;} 
.zyh_tan{ width:500px; background-color:#fff; position:absolute; left:50%; top:50%; margin-left:-250px;margin-top: -115px;border-radius: 5px;}
.zyh_tan h3{ line-height:50px;}
.zyh_tan_k{ width:250px; margin:0 auto;    padding-bottom: 20px;}
.zyh_tan_t{ margin-top:15px;}
.zyh_tan_btn{ border:none; background:none;margin-left: 15px;color: #59afe4;}
.zyh_x{ position:absolute; right:5px; top:5px;}
.zyh_btt{ width:100%;height: 40px;
    color: #fff;
    font-size: 14px;
    border: none;
	background-color:#0aa7e6;
	margin-top: 20px;
	border-radius: 5px;}
.zyh_bx{height: 30px;
    line-height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid #e9e9e9;
	}
	
.sect{margin-left: 10px;    
	height: 30px;
    line-height: 30px;
    border-top: none;
    border-bottom: none;
    border-color: #d9d9d9;
	padding-left:10px;
	margin-left:20px;}


.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
	display:inline-block;
}
/*审核按钮*/
.zyh_yes{display: inline-block;
    width: 40px;
    background-color: #0079DE;
    color: #fff;}
.zyh_yes:hover{ color:#fff; background-color:#0061B3;} 
.zyh_no:hover{ color:#fff; background-color:#B12E2E;}  
.zyh_no{display: inline-block;
    width: 50px;
    background-color: #e14c4d;
    color: #fff;}
    
/*删除按钮*/
.delButClass{
	display: inline-block;
    width: 40px;
    background-color: #FF3030;
    color: #fff !important;
    border-radius: 2px;
}
a:hover.delButClass{background:#fc0101; }
/*添加评价*/
.appraiseButClass{
	display: inline-block;
    width: 80px;
    height:35px;
    line-height:35px;
    text-align:center;
    background-color: rgb(19, 151, 204);
    color: rgb(255, 255, 255);
}
.searchButClass{
	line-height:30px;
	width:80px; 
	height:30px; 
	color:#fff; 
	background-color:#0aa7e6; 
	border:none; 
	border-radius:5px; 
	margin-left:5px;
}
.editButClass{
	display: inline-block;
    width: 40px;
    background-color: rgb(19, 151, 204);
    color: rgb(255, 255, 255);
}
a:hover.editButClass{color:#fff;background:#0AB2F5;}
a.font_orange{color:#FB7B1D;}

/** 2016/8/15 */

.zyh_btn {
    width: 80px;
    line-height:30px;
    align:center;
    text-align:center;
    height: 30px;
    color: #fff;
    background-color: #0aa7e6;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
}
.zyh_btn.cur{background: #FF7D01;}
.tab_jianli{border-collapse: collapse;margin: 10px 0 0 0;display: none;}
.tab_jianli td{border: 1px dashed #d9d9d9;padding:7px;}
.input_100{width: 100px;}
.input_800{width: 800px;}
.zyh_boss h1 {
    text-align: center;
    font-size: 16px;
    color: #333333;
    display: block;
    background-color: #59afe4;
    line-height: 30px;
    color: #fff;
}
.zyh_name {
    width: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 29px;
}
.zyh_name input {
    vertical-align: middle;
    margin-right: 2px;
}
.zyh_name li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: auto;
}
.zyh_boss_ren {
    background-color: #fff;
    border: #ccc 1px solid;
    margin-top: 20px;
    color: #333333;
}